##############################################
# EditorConfig file: http://EditorConfig.org
##############################################
root = true
charset = utf-8
trim_trailing_whitespace = true

##############################################
# Default for all files
##############################################
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

##############################################
# HTML-Files
##############################################
[*.html]
indent_size = 4

##############################################
# ReST-Files
##############################################
[*.rst]
indent_size = 3

##############################################
# SQL-Files
##############################################
[*.sql]
indent_size = 2

##############################################
# YAML-Files
##############################################
[{*.yml,*.yaml}]
indent_size = 2
