<html
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
>

<f:layout name="Main"/>
<f:section name="content">
    <h2>
        <f:translate key="hubspot_integration.customObjects.headline"/>
    </h2>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>
                <f:translate key="hubspot_integration.customObjects.table.label"/>
            </th>
            <th>
                <f:translate key="hubspot_integration.customObjects.table.name"/>
            </th>
            <th></th>
        </tr>
        </thead>
        <f:for each="{schemaLabels}" key="name" as="label">
            <tr>
                <td>
                    {label}
                </td>
                <td>
                    {name}
                </td>
                <td>
                    <f:link.action action="inspect" arguments="{name: name}" class="btn btn-default"><core:icon identifier="actions-eye" size="small"/> <f:translate key="hubspot_integration.customObjects.button.inspect" /></f:link.action>
                    <f:link.action action="download" arguments="{name: name}" class="btn btn-default"><core:icon identifier="actions-download" size="small"/> <f:translate key="hubspot_integration.customObjects.button.download" /></f:link.action>
                </td>
            </tr>
        </f:for>
    </table>
</f:section>

</html>
