{namespace core = TYPO3\CMS\Core\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">
    <f:layout name="Main"/>
    <f:section name="content">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <a href="{formsView}" class="panel panel-default t3js-equalheight">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <core:icon identifier="ctype-hubspot-form" size="large" />
                            </div>
                            <div class="media-body">
                                <h3>Hubspot Forms</h3>
                                Display which forms are inserted on which pages.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </f:section>
</div>
